body{
    font-family:monserrat,sans-serif;
    color: black;
    background: linear-gradient(#ffbc2d, rgb(248, 248, 189));
    border: 10px solid white;
    border-radius: 2%;
}
h2{
    font-size: 70px;
}
.anoncelgl{
    font-size: 5px;
}